@layer legacy-base, legacy-components, legacy-pages;

@layer legacy-base {
  @import url("./style.css");
  @import url("./coden.v1.css");
  @import url("./coden.main.css");
}

@layer legacy-pages {
  @import url("./home.css");
  @import url("./shop.css");
  @import url("./coden.product.css");
  @import url("./admin.css");
}
